@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Rubik:wght@700&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.nav-section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-right: 17rem;
}

.nav-section,
a {
    text-decoration: none;
    outline-color: rgb(110, 110, 110);
    color: rgb(75, 75, 75);
    list-style-type: none;
}

.active-link {
    color: rgb(19, 19, 19);
}

.nav-section,
li {
    display: inline-block;
    padding: 0px 25px;
    padding-top: 27px;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(252, 226, 111, 0.863);
    margin-top: -22px;
}

.tb-logo {
    height: 90px;
    width: 120px;
    background: url('./images/tomboislogopt2.png');
    background-size: cover;
    background-position: center;
    margin-left: 23rem;
    margin-top: 20px;
}

body {
    background-image: url('./videos/burgerpic.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}