@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Rubik:wght@700&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.nav-section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-right: 17rem;
}

.nav-section,
a {
    text-decoration: none;
    outline-color: rgb(255, 255, 255);
    color: rgb(122, 120, 120);
    list-style-type: none;
}

.active-link {
    color: rgb(226, 223, 223);
}

.navburgermenu {
    padding-top: 30px;
    color: white;
}

.nav-section,
li {
    display: inline-block;
    padding: 0px 25px;
    padding-top: 19px;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: -22px;
}

.tb-logo {
    height: 90px;
    width: 120px;
    background: url('./images/tomboislogopt2.png');
    background-size: cover;
    background-position: center;
    margin-left: 23rem;
    margin-top: 20px;
}

body {
    background-image: url('./videos/burgerpic.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.hamburger-btns {
    display: none;
}

.nav-section {
    margin: 0 30px 0 0;
}

.nav-section a {
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

.menu-container {
    background-color: rgb(255, 220, 24);
    margin: 10px 60px;
    border-radius: 10px;
    border-left: 20px solid rgb(153, 51, 0);
    border-right: 20px solid rgb(153, 51, 0);
    border-top: 20px solid rgb(153, 51, 0);
    border-bottom: 20px solid rgb(153, 51, 0);
    padding-bottom: 1rem;
}

.menu-container table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #ffffff00;
    padding: 8px;
    border-radius: 5px;
    color: rgb(71, 71, 71);
    outline-color: black;
}

.menu-heading {
    text-align: center;
    color: rgb(4, 78, 151);
    padding: 10px;
    border-radius: 5px;
}

.table-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 50px;
}

.table-info {
    word-break: break-all;
}

@media only screen and (max-width: 900px) {
    .nav-section {
        padding-top: 15px;
    }
    .nav-section a {
        font-size: 18px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .nav-section {
        text-align: center;
        width: 100%;
        display: none;
    }
    .nav-section a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked+.nav-section {
        display: block;
    }
}

.footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    text-align: center;
}